.icon-style {
    font-size: 20px;
}
.mr-5{
    margin-right:50px !important;
}
.ml-5{
    margin-left:50px !important;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 15px !important;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
display: block !important;
}
.mb-2{
    margin-bottom: 20px;
}
.fs-2{
    font-size:21px;
}
.mt-5{
    margin-top: 50px;
}