@font-face {
    font-family: "Neo Sans W1G";
    src: url(/src/font/NeoSansW1G-Regular_0.otf);
}

@font-face {
    font-family: "Neo Sans H";
    src: url(/src/font/neo-sans-w1g-843.otf);
}

span,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Neo Sans W1G' !important;
}

html {
    --antd-wave-shadow-color: #0093CD !important;
}

a {
    color: #0093CD;
}

.ant-select-selector {
    border: none !important;
}

.ant-select {
    border: 1.3px solid #cecece;
    border-radius: 8px;
}

.ant-pagination-item-active {
    border-color: #0093CD;
}

.ant-pagination-item-active a {
    color: #0093CD;
}

.ant-switch-checked {
    background-color: #0093CD;
}

.ant-btn:focus {
    color: #0093CD;
    border-color: #0093CD;
}

.ant-btn:active {
    color: #0093CD;
    border-color: #0093CD;
}

.ant-breadcrumb a {
    color: #0093CD;
    transition: color 0.3s;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
    color: white !important;
    background: #0093CD;
    border-color: rgb(17, 67, 87);
}

.ant-btn:hover {
    color: #0093CD;
    border-color: #0093CD;
}

.ant-input,
.ant-select-selector {
    height: 58px !important;
    border-radius: 7px;
}

.ant-input:hover {
    border-color: #0093CD;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-color: #0093CD;
}

.ant-input:focus,
.ant-input-focused {
    border-color: #0093CD;
    box-shadow: 0px 0px 10px rgb(10 175 255 / 35%);
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
    border-color: #0093CD;
    border-right-width: 1px !important;
    outline: 0;
    box-shadow: #3794b9;
}

.ant-menu-light .ant-menu-submenu-title:hover {
    color: #0093CD;
}

.ant-menu-item a:hover {
    color: #0093CD;
}

.ant-picker:hover,
.ant-picker-focused {
    border-color: #0093CD;
}

.login-img {
    padding: 0px !important;
}

.login-note {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 36px;
    color: #6A6A6A !important;
    font-family: 'Neo Sans W1G';
}

.login-form label {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
    color: black;
    font-family: 'Neo Sans W1G';
    font-style: normal;
}

.login-form p {
    color: #0093CD;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: -0.05em;
    font-family: 'Neo Sans W1G';
}

.login-form input {
    height: 55px !important;
}

.rem-me {
    font-style: normal;
    font-weight: 100 !important;
    font-size: 16px;
    color: #737373;
}

.sign-in-btn button {
    background-color: #0093CD;
    border: none;
}

.dashbord-search {
    padding-top: 18px;
}

.dashbord-search button {
    background-color: #0093CD !important;
    border: none;
}

.mian-layout {
    min-height: calc(100vh - 173px);
    min-height: 95vh;
}

.menu-logo {
    border-bottom: 1px solid #DFDFDF;
    height: 64px;
}

.menu-btn button {
    color: #0093CD;
}

.noti-avtar svg {
    color: #0093CD !important;
}

.remix-icon {
    fill: #0093CD;
}

.use-profile span {
    padding: 5px;
}

.noti-icon {
    color: #0093CD !important;
}

.login-form span {
    font-size: 16px;
    font-weight: 600;
    padding: 0;
    background-image: none;
}

.login-form-item span {
    background-color: #ffffff;
    border-radius: 6px;
    padding-right: 5px;
    padding-left: 15px;
    border-color: #c1c1c1;
}

.login-form-item input {
    font-weight: 100;
    border-radius: 6px;
    letter-spacing: 1px;
}

.ant-picker {
    width: 100%;
    height: 56px;
}

.sign-in-btn button :hover {
    /* background-color: red; */
}

.inner-form-heading h4 {
    color: #0093CD;
}

@media only screen and (max-width: 997px) {
    .login-img {
        display: none;
    }
    .login-note {
        margin-top: 10px !important;
        margin-bottom: 0px!important;
    }
}

.login-screen {
    padding-top: 90px!important;
    padding-bottom: 0px !important;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
    border: 1px solid #3c93cd;
}

.ant-picker-today-btn {
    color: #0093CD;
}

.ant-select-single .ant-select-selector .ant-select-selection-item,
.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
    line-height: 50px
}

.ant-form-item-control-input-content .ant-btn {
    height: 66px !important;
    border: 1px solid #c1c1c1;
}

.login-page {
    max-height: 100vh !important;
}

.ant-menu-submenu-arrow {
    color: #3c93cd !important;
}

::selection {
    color: #0093CD;
    background: none;
}

.da-bg-color-primary-1 {
    background-color: #0093CD !important;
}

.da-text-color-primary-1 {
    color: #0093CD !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #0093CD;
}

.ant-table-column-sorter-up.active,
.ant-table-column-sorter-down.active {
    color: #0093CD;
}

.ant-tooltip-inner {
    color: #0093CD;
}

.ant-tabs-tab-btn:focus,
.ant-tabs-tab-remove:focus,
.ant-tabs-tab-btn:active,
.ant-tabs-tab-remove:active {
    color: #0093CD;
}

.ant-tabs-tab:hover {
    color: #0093CD !important;
}

.da-primary-shadow {
    box-shadow: 0px 0px 25px rgb(60 147 205) !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #0093CD;
    border-color: #0093CD !important;
}

.ant-checkbox-input :focus {
    border-color: #0093CD !important;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus+.ant-checkbox-inner {
    border-color: #0093CD;
}

.ant-checkbox-indeterminate .ant-checkbox-inner::after {
    background-color: #0093CD;
}

.ap-d h1 {
    color: #0093CD;
    padding-top: 38px;
    font-weight: 100;
}

.ant-tabs-card .ant-tabs-tab::after {
    border-right: 2px solid #0093CD !important;
}

.ant-spin-dot-item {
    background-color: #0093CD;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.logoAdact {
    margin-bottom: 12px;
}

.logoAdact img {
    height: 350px!important;
}

.label {
    background-color: #0093cd;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 26px!important;
    border-radius: 8px!important;
}

.submissionHeader {
    padding: 8px;
}

.discription textarea {
    min-height: 200px!important;
    padding-top: 6px;
    padding-bottom: 12px;
}

.dimensions {
    min-width: 170px!important;
    margin: 8px;
}

.discription-area textarea {
    min-height: 300px!important;
    min-width: 200px!important;
}

.electric-substance {
    margin-top: 8px!important;
    padding-top: 6px;
}

.electric-substance h5 {
    margin-top: 8px!important;
    padding-top: 6px;
}

.replication button {
    align-items: flex-end;
}

@media only screen and (max-width: 600px) {
    .table-show {
        width: 300px!important;
        overflow: auto!important;
    }
}

.changebtn {
    text-align-last: end!important;
}

.formulationAdd {
    width: 100%!important;
    padding: 6px!important;
    margin: 6px!important;
}

.productDetails {
    font-size: 14px!important;
    padding: 6px!important;
}

.productDetails strong {
    color: red!important;
    margin: 8px!important;
    font-size: 20px!important;
}

.csvPdfBtn {
    text-align-last: end!important;
    padding: 8px;
}

.ant-btn-dangerous.ant-btn-primary {
    color: #fff;
    border-color: #0093cd!important;
    background: #0093cd!important;
    text-shadow: none;
    box-shadow: none;
    margin: 12px!important;
}

.csvBtn {
    color: black!important;
    background-color: white;
    padding: 12px;
    border: .2px solid gray;
    border-radius: 6px!important;
}

.csvBtn:hover {
    color: #0093cd!important;
    border: .2px solid #0093cd;
}

.Toxical {
    padding: 8px!important;
    margin: 6px!important;
}

.toxicalDescription h5 {
    font-weight: 300!important;
    padding: 8px!important;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 4px;
}

.toxicalDescription p {
    font-weight: 300!important;
    padding: 8px!important;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 4px;
}

.datasource {
    font-weight: 300!important;
    padding: 8px!important;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 4px;
}

.datasourceHeader {
    font-weight: 300!important;
    padding: 8px!important;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 4px;
}